@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

*{
margin:0;
padding: 0;
box-sizing: border-box;

}

body{
    overflow-x: hidden;
    background: #fff;
    min-height: 100vh;

}

section{
    position: relative;
    width: 100%;
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items:center;

}

section::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: linear-gradient( to top,#2d1f01,transparent);
    z-index: 1;
}

section img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
 #rocks{
    margin-top: 50px;
} 

section #text{
    position: absolute;
    color:#094b65 ;
    font-size: 8vw;
    text-align: center;
    line-height: 0.50em;
    font-family: 'rancho',cursive;
    transform: translateY(-140%);

}

#btn{
    
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:8px 30px;
    background: #ffcdae;
    color: #365414;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translateY(100px);
    font-family: 'rancho',cursive;

}
#enter{
    color: #654809;
    font-size: x-small;
}

.welcome{
    font-size: 3.5em ;
    color: #cfb8aa;
    font-family: 'rancho',cursive;
    position: relative;
    background-color: #2d1f01;
    font-size: 2em ;
    width:100%;
    height: 157vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.story{
    font-size:smaller;
    padding-left: 10%;
    padding-right: 10%;
}


canvas {
    display: block;
    margin: 0;
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -25%);
    max-width: 100%;
    max-height: 50vw;

  }

  /* _________________________________________________________ */

footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #9b6e52;
    height: auto;
    width: 100%;
    border-top:  solid rgb(207, 184, 170);
    padding-top: 10px;
    color: #2d1f01;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 200px;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.footer-bottom{
    background: #2d1f01;
    color: #9b6e52;

    width: 100%;
    padding: 20px;
padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
 .footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
